<div class="about-wrapper">
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <img src="/assets/img/math.png" width="45" height="45" class="mx-2" alt="">
          Math (NCERT)
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div type="button" class="btn text-primary text-primary">Class 1</div>
          <div type="button" class="btn text-primary text-primary">Class 2</div>
          <div type="button" class="btn text-primary text-primary">Class 3</div>
          <div type="button" class="btn text-primary text-primary">Class 4</div>
          <div type="button" class="btn text-primary text-primary">Class 5</div>
          <div type="button" class="btn text-primary text-primary">Class 6</div>
          <div type="button" class="btn text-primary text-primary">Class 7</div>
          <div type="button" class="btn text-primary text-primary">Class 8</div>
          <div type="button" class="btn text-primary text-primary">Class 9</div>
          <div type="button" class="btn text-primary text-primary">Class 10</div>
          <div type="button" class="btn text-primary text-primary">Class 11</div>
          <div type="button" class="btn text-primary text-primary">Class 12</div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <img src="/assets/img/science.jpg" width="45" height="45" class="mx-2" alt="">
          Science (NCERT)
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div type="button" class="btn text-primary">Class 1</div>
          <div type="button" class="btn text-primary">Class 2</div>
          <div type="button" class="btn text-primary">Class 3</div>
          <div type="button" class="btn text-primary">Class 4</div>
          <div type="button" class="btn text-primary">Class 5</div>
          <div type="button" class="btn text-primary">Class 6</div>
          <div type="button" class="btn text-primary">Class 7</div>
          <div type="button" class="btn text-primary">Class 8</div>
          <div type="button" class="btn text-primary">Class 9</div>
          <div type="button" class="btn text-primary">Class 10</div>
          <div type="button" class="btn text-primary">Class 11</div>
          <div type="button" class="btn text-primary">Class 12</div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <img src="/assets/img/quiz.png" width="45" height="45" class="mx-2" alt="">
          Quizes
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div type="button" class="btn text-primary">Class 1</div>
          <div type="button" class="btn text-primary">Class 2</div>
          <div type="button" class="btn text-primary">Class 3</div>
          <div type="button" class="btn text-primary">Class 4</div>
          <div type="button" class="btn text-primary">Class 5</div>
          <div type="button" class="btn text-primary">Class 6</div>
          <div type="button" class="btn text-primary">Class 7</div>
          <div type="button" class="btn text-primary">Class 8</div>
          <div type="button" class="btn text-primary">Class 9</div>
          <div type="button" class="btn text-primary">Class 10</div>
          <div type="button" class="btn text-primary">Class 11</div>
          <div type="button" class="btn text-primary">Class 12</div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <img src="/assets/img/explore.jpg" width="45" height="45" class="mx-2" alt="">
          Explore more
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div type="button" class="btn text-primary">Computer Programming</div>
          <div type="button" class="btn text-primary">Grammar</div>
          <div type="button" class="btn text-primary">Finance</div>
          <div type="button" class="btn text-primary">Computer Science</div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-work></app-work>
  
  