<div class="container quiz-container">
  <h2 class="quiz-header">Mathematics Quiz</h2>
  <div *ngIf="showScore">
    <h2>Your Score: {{score}}/{{mathQuestions.length}}</h2>
    <button routerLink="/courses" class="btn btn-primary">Go Home</button>
  </div>
  <div *ngIf="!showScore">
    <form (submit)="submitAnswer()">
      <div class="quiz-question" *ngIf="mathQuestions.length > 0; else loading">
        <h2>Question {{currentQuestionIndex + 1}}:</h2>
        <p>{{ mathQuestions[currentQuestionIndex].question }}</p>
        <div class="form-group quiz-answer">
          <label for="userAnswer">Your Answer:</label>
          <textarea class="form-control" id="userAnswer" [(ngModel)]="selectedAnswer" name="selectedAnswer" rows="2"
            placeholder="Type your answer here" required #userAnswer="ngModel"></textarea>
          <!-- <div *ngIf="alertVisible" class="alert alert-danger">
            Answer is required.
          </div> -->
        </div>
      </div>
      <button type="submit" class="btn btn-primary submit-btn" [disabled]="!selectedAnswer">Next</button>
    </form>
  </div>
  <ng-template #loading>
    <p>Loading questions...</p>
  </ng-template>
</div>