.courses_component {
  padding: 0% 0% 50% 0%;
}

.styled-checkbox input[type="checkbox"] {
  opacity: 0;
  position: absolute;
}

.styled-checkbox label {
  position: relative;
  cursor: pointer;
  padding-left: 25px;
  color: #444;
  display: inline-block;
}

.styled-checkbox label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 2px solid #4c7273;
  border-radius: 3px;
  background-color: transparent;
}

.styled-checkbox input[type="checkbox"]:checked+label:before {
  background-color: #4c7273;
}

.styled-checkbox label:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 4px;
  width: 8px;
  height: 8px;
  background: white;
  border-radius: 2px;
  opacity: 0;
}

.styled-checkbox input[type="checkbox"]:checked+label:after {
  opacity: 1;
}


.course-card {
  transition: transform 0.2s ease-in-out;
}

.card-title{
  color: #83984d;
}

.course-card:hover {
  transform: translateY(-5px);
  border: 2px solid #4c7273;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.proceed-arrow {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  font-weight: bold;
  color:#57402e;
}

.proceed-arrow i {
  margin-left: 5px;
  transition: margin-left 0.2s ease-in-out;
  color:#57402e;
}

.proceed-arrow:hover i {
  margin-left: 10px;
}

.card-text{
  color:#336b8b;
  margin-top: 30px;
}

.ouruser{
  color:ce4444;
}

.custom-alert {
  background-color: #fff3cd;
  border-color: #ffeeba;
  color: #856404;
  border-radius: 0.25rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 18%;
}


