.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #d3bdcc;
}

.head-container {
  max-width: 1140px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-section {
  display: flex;
  align-items: center;
}

.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-info .username {
  font-size: 1.5rem;
  margin: 0;
}

.user-info .user-bio {
  font-size: 0.875rem;
  color: #6c757d;
  margin: 0;
}

.profile-btn {
  padding: 5px 15px;
  border: 3px solid #007bff;
  border-radius: 5px;
  cursor: pointer;
  animation: borderFade 3s infinite linear;
}

@keyframes borderFade {
  0% {
    border-color: #007bff;
  }

  25% {
    border-color: #ff0000;
  }

  50% {
    border-color: #00ff00;
  }

  75% {
    border-color: #0000ff;
  }

  100% {
    border-color: #007bff;
  }
}

.styled-checkbox input[type="checkbox"] {
  opacity: 0;
  position: absolute;
}

.styled-checkbox label {
  position: relative;
  cursor: pointer;
  padding-left: 25px;
  color: #444;
  display: inline-block;
}

.styled-checkbox label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 2px solid #4c7273;
  border-radius: 3px;
  background-color: transparent;
}

.styled-checkbox input[type="checkbox"]:checked+label:before {
  background-color: #4c7273;
}

.styled-checkbox label:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 4px;
  width: 8px;
  height: 8px;
  background: white;
  border-radius: 2px;
  opacity: 0;
}

.styled-checkbox input[type="checkbox"]:checked+label:after {
  opacity: 1;
}


.course-card {
  transition: transform 0.2s ease-in-out;
}

.card-title{
  color: #83984d;
}

.course-card:hover {
  transform: translateY(-5px);
  border: 2px solid #4c7273;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.proceed-arrow {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  font-weight: bold;
  color:#57402e;
}

.proceed-arrow i {
  margin-left: 5px;
  transition: margin-left 0.2s ease-in-out;
  color:#57402e;
}

.proceed-arrow:hover i {
  margin-left: 10px;
}

.card-text{
  color:#336b8b;
  margin-top: 30px;
}

.ouruser{
  color:ce4444;
}

.custom-alert {
  background-color: #fff3cd;
  border-color: #ffeeba;
  color: #856404;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 18%;
}

@media screen and (max-width: 500px ) {
  .profile-btn{
    margin: 4px;
    padding: 2px 7px;
    border: 3px solid #007bff;
    border-radius: 5px;
    cursor: pointer;
    animation: borderFade 3s infinite linear;
  }
}


