<footer class="text-center footer-expand-lg footer-dark bg-dark text-lg-start text-white"
  style="background-color: #1c2331">
  <section class="d-flex p-4" style="background-color: #4c7273">
    <!-- <div class="me-5">
      <span>Get connected with us on social networks:</span>
    </div>

    <div>
      <a href="https://github.com/sumedhakoranga" class="text-white me-4">
        <i class="fa-brands fa-github"></i>
      </a>
      <a href="https://www.linkedin.com/in/sumedhakoranga/" class="text-white me-4">
        <i class="fa-brands fa-linkedin"></i>
      </a>
      <a href="https://www.kaggle.com/sumedhakoranga" class="text-white me-4">
        <i class="fa-brands fa-kaggle"></i>
      </a>
      <a href="https://twitter.com/sumedhakoranga" class="text-white me-4">
        <i class="fa-brands fa-x-twitter"></i>
      </a>
      <a href="https://medium.com/@sumedhakoranga" class="text-white me-4">
        <i class="fa-brands fa-medium"></i>
      </a>
      <a href="https://www.goodreads.com/sumedhakoranga" class="text-white me-4">
        <i class="fa-brands fa-goodreads-g"></i>
      </a>
    </div> -->

  </section>

  <section class="">

    <div class="row mt-3">

      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

        <h6 class="text-uppercase fw-bold">Tutor.AI</h6>
        <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
        <p>
          Our goal is to provide a free, world-class education for anyone, anywhere.
        </p>
      </div>

      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <h6 class="text-uppercase fw-bold">Other links</h6>
        <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
        <p>
          <a routerLink="/aboutus" class="text-white">About</a>
      </div>

      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <h6 class="text-uppercase fw-bold">Contact</h6>
        <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
        <p><i class=""></i>India</p>
        <p><i class="mr-3"></i><a class="text-white" href="https://sumedha.info/">Sumedha Koranga</a></p>
        <p><i class="mr-3"></i><a class="text-white" href="https://www.aniketsharma.net/">Aniket Sharma</a></p>
      </div>

    </div>


  </section>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    <a class="text-white" href="https://sumedha.info/">Website made by Sumedha Koranga</a>
  </div>
</footer>