<div class="container quiz-container">
  <h2 class="quiz-header">Mathematics</h2>
  <form>
    <!-- Question 1 -->
    <div class="quiz-question">
      <p>1. Which of the following is not a valid value for the 'display' property?</p>
      <div class="quiz-options">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="displayProperty" id="inlineGrid">
          <label class="form-check-label" for="inlineGrid">inline-grid</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="displayProperty" id="flex">
          <label class="form-check-label" for="flex">flex</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="displayProperty" id="box">
          <label class="form-check-label" for="box">box</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="displayProperty" id="grid">
          <label class="form-check-label" for="grid">grid</label>
        </div>
      </div>
    </div>

    <!-- Question 2 -->
    <div class="quiz-question">
      <p>2. Which of the following is an absolute unit of measurement in CSS?</p>
      <div class="quiz-options">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="cssUnits" id="px">
          <label class="form-check-label" for="px">px</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="cssUnits" id="rem">
          <label class="form-check-label" for="rem">rem</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="cssUnits" id="vh">
          <label class="form-check-label" for="vh">vh</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="cssUnits" id="ch">
          <label class="form-check-label" for="ch">ch</label>
        </div>
      </div>
    </div>


    <div class="quiz-question">
      <p>2. Which of the following is an absolute unit of measurement in CSS?</p>
      <div class="quiz-options">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="cssUnits" id="px">
          <label class="form-check-label" for="px">px</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="cssUnits" id="rem">
          <label class="form-check-label" for="rem">rem</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="cssUnits" id="vh">
          <label class="form-check-label" for="vh">vh</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="cssUnits" id="ch">
          <label class="form-check-label" for="ch">ch</label>
        </div>
      </div>
    </div>

    <div class="quiz-question">
      <p>2. Which of the following is an absolute unit of measurement in CSS?</p>
      <div class="quiz-options">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="cssUnits" id="px">
          <label class="form-check-label" for="px">px</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="cssUnits" id="rem">
          <label class="form-check-label" for="rem">rem</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="cssUnits" id="vh">
          <label class="form-check-label" for="vh">vh</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="cssUnits" id="ch">
          <label class="form-check-label" for="ch">ch</label>
        </div>
      </div>
    </div>

    <!-- Submit button -->
    <button type="submit" class="btn btn-primary submit-btn">Submit</button>
  </form>
</div>