<div class="row">
  <div class="col-md-4 col-sm-12">
    <!-- For Teachers -->
    <div class="container">
      <h3>For Teachers</h3>
      <a class="btn btn-outline-primary" routerLink="/guide/instructor-login" role="button">Login</a>
      <p>Don't have an account?</p>
      <a class="btn btn-outline-success" routerLink="/guide/instructor-signup" role="button">Signup</a>
    </div>
  </div>

  <!-- For Students -->
  <div class="col-md-4 col-sm-12">
    <div class="container">
      <h3>For Students</h3>
      <a class="btn btn-outline-primary" routerLink="/learner/login" role="button">Login</a>
      <p>Don't have an account?</p>
      <a class="btn btn-outline-success" routerLink="/learner/signup" role="button">Signup</a>
    </div>
  </div>

  <!-- For parents -->
  <div class="col-md-4 col-sm-12">
    <div class="container">
      <h3>For Parents</h3>
      <a class="btn btn-outline-primary" routerLink="/guardian/parent-login" role="button">Login</a>
      <p>Don't have an account?</p>
      <a class="btn btn-outline-success" routerLink="/guardian/parent-signup" role="button">Signup</a>
    </div>
  </div>
</div>