<div class="container">
  <a href="https://tutorai.dev/">
  <h1>Welcome to Tutorai.Dev</h1>
  </a>
  <p>Developed for a Google Developer Student Clubs (GDSC) hackathon, Tutorai.Dev is an innovative educational app
    designed to revolutionize the way users engage with learning materials. By integrating artificial intelligence, we
    offer personalized quizzes across subjects like Science, Mathematics, Social Science, and English, making learning
    interactive and fun.</p>

  <h3>Our Vision</h3>
  <p>Our team, comprising dedicated student developers and educators, aims to make knowledge accessible and engaging for
    everyone. With Tutorai.Dev, we're not just creating an app; we're building a learning community.</p>

  <h3>Technology and Innovation</h3>
  <p>Leveraging AI, Tutorai.Dev adapts to individual learning styles, providing instant feedback and tailored educational
    content. This project represents our commitment to harnessing technology for educational empowerment.</p>

  <h3>Join Our Learning Revolution</h3>
  <p>Try Tutorai.Dev and take the first step towards a personalized learning experience. Let's learn, grow, and innovate
    together.</p>
</div>