@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

h3{
  font-size: 34px;
  color:#4c7273;
  font-family:"Roboto", serif;
  font-weight: bold;
  padding-top:2%;
 }

 p{
  font-size:xx-large;
  font-family: "Roboto", serif;
  font-weight: 500;
 }

 img{
  border-radius: 10%;
  border:4px dotted #4c7273;
 }