<div class="container">
  <div class="row text-center">
    <div class="col-md-6 ">
      <img class="img-fluid my-4" src="/assets/img/image1.jpg" alt="image" max-width="100%"
        height="auto">
    </div>
    <div class="col-md-6  my-5">
      <h3 class="text-center">Empowering Every Mind, Everywhere</h3>
      <p><strong>Our goal </strong>Accessible Education for a Better World.</p>
      <div class="my-5">
        <button type="button" routerLink="/learner/login" class="btn btn-success">Learners</button>
        <button type="button" routerLink="/guide/instructor-login" class="btn btn-success mx-3">Teacher</button>
        <button type="button" routerLink="/guardian/parent-login" class="btn btn-success">Parent</button>
      </div>
    </div>
  </div>
</div>

<app-about></app-about>