<!-- Loader -->
<div *ngIf="isLoading" class="d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<div *ngIf="!isLoading" class="">
  <!-- Welcome Message -->
  <div class="container mt-3">
    <div class="row">
      <div class="col">
        <h1>Welcome, {{firstname}}</h1>
      </div>
      <div class="col text-end">
        <button class="btn btn-outline-primary">Parent resources</button>
      </div>
    </div>
  </div>

  <div class="container mt-4">
    <h5>Welcome to Tutor.AI</h5>
    <p>Learn what you can do with Tutor.AI as a parent.</p>


    <h3 class="mt-4">Your children</h3>
    <p>These are your children's accounts. Click your child's name to view their progress.</p>

    <div class="card mt-3">
      <div class="card-body">
        <h5 class="card-title">Ready to add your child?</h5>
        <p>Click “Add a child” to create a new account for your child.</p>
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addChildModal">Add a child</button>
      </div>
    </div>
  </div>

  <form [formGroup]="childDataForm">
    <div class="modal fade" id="addChildModal" tabindex="-1" aria-labelledby="addChildModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h5 class="modal-title" id="addChildModalLabel">Connect with your kids</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
          </div>

          <div class="modal-body">
            <div class="mb-3">
              <label for="childUsername">Child's username</label>
              <input type="text" formControlName="childUsername" class="form-control" id="childUsername"
                placeholder="example: Test@1234">
            </div>
            <div class="form-check mb-3">
              <input type="checkbox" id="termsCheck">
              <label class="form-check-label" for="termsCheck">I confirm I confirm that I am this child's parent or
                legal
                guardian.</label>
            </div>
            <button class="btn btn-success" data-bs-dismiss="modal" (click)="onSubmit()" type="submit">Submit</button>
          </div>

        </div>
      </div>
    </div>
  </form>

  <div *ngFor="let currentChildInfo of childInfo">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ currentChildInfo.firstname }} {{ currentChildInfo.lastname }}</h5>
      </div>
    </div>
  </div>

</div>