<nav class="navbar navbar-expand-lg sticky-top">
  <div class="container-fluid">
    <div class="navbar-center-logo mx-auto">
      <a href="/" class="nav-link main-page">
        <img src="/assets/img/TutorAI.png" alt="logo" class="nav-logo" width="36" height="36">
        <span class="logo-text">Tutor.AI</span>
      </a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngIf="!isLoggedIn">
          <a class="nav-link active" aria-current="page" role="button" routerLink="/access-account">Sign Up / Login</a>
        </li>
        <!-- Toggle between Login and Logout based on isLoggedIn status -->
        <li *ngIf="isLoggedIn"><a href="#" routerLink="/courses" class="nav-link px-2 link-dark">Courses</a></li>
        <!-- <li *ngIf="!isLoggedIn"><a href="#" routerLink="/learner/login" class="nav-link px-2 link-dark">Login</a></li> -->
        <li *ngIf="isLoggedIn"><a href="#" (click)="logout()" class="nav-link px-2 link-dark">Logout</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link active" aria-current="page" role="button" routerLink="/aboutus">About us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<app-intro *ngIf="showHeaderFooter"></app-intro>
<app-footer></app-footer>