<div class="container quiz-container" *ngIf="!showScore; else scoreTemplate">
  <h2 class="quiz-header">English Quiz</h2>
  <form>
    <div class="quiz-question" *ngIf="englishQuestions.length > 0; else loading">
      <h2>Question:</h2>
      <p>{{ englishQuestions[currentQuestionIndex].question }}</p>
      <h2>Answer:</h2>
      <div class="quiz-answer"
        *ngFor="let choice of englishQuestions[currentQuestionIndex].choices; let i = index">
        <input type="radio" [id]="'choice' + i" name="answer" [(ngModel)]="selectedAnswer" [value]="i">
        <label [for]="'choice' + i">{{ choice }}</label>
      </div>
    </div>

    <ng-template #loading>
      <p>Loading questions...</p>
    </ng-template>

    <button type="button" class="btn btn-primary submit-btn" (click)="checkAnswer()">
      {{ currentQuestionIndex < englishQuestions.length - 1 ? 'Next' : 'Submit' }} </button>
  </form>
</div>
<ng-template #scoreTemplate>
  <div class="scoreTemp">
    <h2>Your Score: {{ score }}/{{ englishQuestions.length }}</h2>
    <button class="btn btn-primary" routerLink="/courses">Go to Course Page</button>
  </div>
</ng-template>
