<div class="teachers_component">
<header class="p-3 mb-3 border-bottom bg-color light">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <button class="border-0 bg-primary px-2 mx-2 rounded">Your EXP
        <span class="fa fa-bolt"></span>
      </button>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 link-dark">Courses</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">Practice</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">Resources</a></li>
        <li><a href="#" (click)="logout()" class="nav-link px-2 link-dark">logOut</a></li>
      </ul>

      <p class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 text-center">username</p>

      <div class="user_profile">
        <a routerLink="/" class="text-decoration-none" id="user">
          <img src="https://img.freepik.com/free-vector/businessman-character-avatar-isolated_24877-60111.jpg"
            alt="image" width="32" height="32" class="rounded-circle">
        </a>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-2 nav_content mt-0">
      <main class="container">
        <nav id="navbar">
          <section class="mt-4 text-center">
            <h5 class="">My Stuff</h5>
            <ul class="list-unstyled">
              <li><a class="nav-link my-3 p-3" routerLink="/courses">Courses</a></li>
            </ul>
          </section>
          <section class="text-center">
            <h5>My Account</h5>
            <ul class="list-unstyled">
              <li><a class="nav-link my-3 p-3" routerLink="/progress">Progress</a></li>
              <li><a class="nav-link my-3 p-3" routerLink="/profile">Profile</a></li>
              <li><a class="nav-link my-3 p-3" routerLink="/teachers">Teachers</a></li>
            </ul>
          </section>
        </nav>
      </main>

    </div>

    <div class="col-sm-12 col-md-10 dashboard">
      <div class="row align-items-center">
        <div class="col">
          <h4>My teachers</h4>
        </div>
      </div>
      <div class="row">
        <section class="main-section col-md-6 text-secondary" id="courses">
          <!-- <p>Your student id is kaid_515755129263639082439296</p> -->
        </section>
      </div>
      <hr>


      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h4>Join a class</h4>
            <button type="button" class="btn btn-primary">Class Code</button>
          </div>
          <div class="class sm-12 col-md-6">
            <h4>Add a Education channel</h4>
            <label for="channel">Enter your favorite channels</label><br>
            <input type="url" id="channel" name="channelname">
          </div>
        </div>


      </div>



    </div>






  </div>
</div>
</div>