<div class="profile_component">
  <header class="profile-header">
    <div class="container head-container">
      <div class="profile-section">
        <img src="/assets/img/avatar.png" alt="Profile Image" class="profile-pic">
        <div class="user-info">
          <h1 class="username">{{username}}</h1>
          <p class="user-bio">You are champion!!!!</p>
        </div>
      </div>
      <div class="user-actions">
        <button class="profile-btn fa fa-bolt" routerLink="/profile">Exp: 1000</button>
      </div>
      <div class="user-actions">
        <button class="profile-btn fa fa-bolt" routerLink="/learner/askai">Ask AI </button>
      </div>
    </div>
  </header>

  <div class="container my-5">
    <div class="row">
      <div class="col-sm-12 col-md-2 nav_content mt-0">
        <main class="container">
          <nav id="navbar">
            <section class="mt-4 text-center">
              <h5 class="">My Stuff</h5>
              <ul class="list-unstyled">
                <li><a class="nav-link  pt-3" routerLink="/courses">Courses</a></li>
              </ul>
            </section>
            <section class="text-center">
              <h5>My Account</h5>
              <ul class="list-unstyled">
                <li><a class="nav-link pt-3" routerLink="/progress">Progress</a></li>
                <li><a class="nav-link pt-3" routerLink="/Profile">Profile</a></li>
                <li><a class="nav-link pt-3" routerLink="/teachers">Teachers</a></li>
              </ul>
            </section>
          </nav>
        </main>

      </div>

      <div class="col-sm-12 col-md-10 dashboard">
        <div class="container">
          <h1 class="badge-progress mb-3">🏆Badge Count🏆</h1>
          <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col" *ngFor="let badge of badges">
              <div class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <img class="badge-image" [src]="badge.image" [alt]="badge.name">
                    <h5 class="card-title">{{ badge.name }} <span class="badge-count">[{{ badge.count }}] 🏆</span></h5>
                  </div>
                  <div class="flip-card-back">
                    <p class="card-text">{{ badge.description }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>