<div class="container my-5">
  <div class="row text-center">
    <div class="col-sm-6 my-5 ">
        <img class="border border-primary img-fluid my-4" src="/assets/img/study.jpg" alt="image" max-width="100%" height="auto">
    </div>
    <div class="col-sm-6 my-5">
      <h3 class="text-center text-secondary">Together we can make a difference</h3>
      <p>Every child deserves the chance to learn.</p>
      <div class="my-5">
        <button type="button" router="/" class="btn btn-success">Give them the chance</button>
      </div>
    </div>   
  </div>
</div>



