<div class="container my-5">
  <div class="row text-center">
    <div class="col-sm-6 my-5 ">
        <img class="img-fluid my-4" src="/assets/img/study.jpg" alt="image" >
    </div>
    <div class="col-sm-6 my-5">
      <h1 class="text-center">Learning Without Limits</h1>
      <p>Because Every Child Deserves to Dream.</p>
      <div class="my-5">
        <button type="button" routerLink="/learner/signup" class="btn btn-success">Give them the chance</button>
      </div>
    </div>   
  </div>
</div>



