<!-- Introduction Section -->
<div *ngIf="!registeredCourse" class="register-invitation">
  <h1 class="display-5 fw-bold">Please register to take part in the quiz.</h1>
  <button class="btn btn-success register-btn" routerLink="/courses">Register here</button>
</div>
<div class="container bg-light py-5" *ngIf="registeredCourse && !hasQuizStarted">
  <h1 class="display-5 fw-bold">Welcome to English</h1>
  <p class="col-md-8 fs-4">This quiz will contain a total of 5 questions. Each Question holds 1 Point.</p>
  <h4>Rules:</h4>
  <ol>
    <li>Correct Question gives you 1 point.</li>
    <li>Refreshing the page will reset the Quiz.</li>
  </ol>
  <h1 style="font-family: cursive;text-align:center">All the best!!</h1>
  <button class="btn btn-primary btn-lg" (click)="startQuiz()">Start the Quiz!!</button>
</div>

<!-- Quiz Section -->
<div class="container quiz-container" *ngIf="hasQuizStarted">
  <div *ngIf="!showScore; else scoreTemplate">
    <div class="progress" style="margin-bottom: 20px;">
      <div class="progress-bar bg-success" role="progressbar" [style.width]="getProgress()" aria-valuenow="25"
        aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <h2 class="quiz-header">English Quiz</h2>
    <form>
      <div *ngIf="questionFetched; else loading">
        <h2 *ngIf="readingQuestion">Reading Paragraph:</h2>
        <p *ngIf="readingQuestion">{{ question.context }}</p>
        <h2>Question:</h2>
        <p>{{ question.question }}</p>
        <h2>Answer:</h2>
        <div class="multichoice" *ngFor="let choice of question.choices; let i = index">
          <input type="radio" [id]="'choice' + i" name="answer" [(ngModel)]="selectedAnswer" [value]="i">
          <label [for]="'choice' + i">{{ choice }}</label>
        </div>
        <div *ngIf="answerFeedback" class="feedback">
          <p>{{ answerFeedback }}</p>
          <!-- <button *ngIf="currentAnswerCorrect === false" type="button" class="btn btn-warning" (click)="tryAgain()">Try
            Again</button> -->
          <button *ngIf="currentQuestionCount < totalQuestionCount" type="button" class="btn btn-secondary"
            (click)="nextQuestion()">Next Question</button>
        </div>
      </div>

      <ng-template #loading>
        <p>Loading questions...</p>
      </ng-template>
      <button type="button" class="btn btn-primary submit-btn" (click)="submitAnswer()"
        [disabled]="selectedAnswer === undefined || selectedAnswer === null || disableSubmit">
        Submit Answer
      </button>
    </form>
  </div>
  <ng-template #scoreTemplate>
    <div class="scoreTemp">
      <h2>Your Score: {{ score }}/{{ totalQuestionCount }}</h2>
      <button class="btn btn-primary" routerLink='/courses'>Go to Course Page</button>
    </div>
  </ng-template>
</div>