<div class="container my-4">
  <div class="row text-center">    
    <div class="col-md-6 my-5">
      <h1 class="text-center">Learners and student</h1>
      <h2 class="my-4">Discover the Joy of Learning</h2>
      <p>Building Strong Foundations for Lifelong Learning.</p>
      <div class="button-wrapper my-2">
        <button type="button" routerLink="/learner/signup" class="btn btn-success mx-3">Start here</button>
      </div>
    </div>  
    <div class="col-md-6 my-5">
      <img class="img-fluid" src="/assets/img/learners.jpg" alt="image" max-width="100%" height="auto">
  </div> 
  </div>
</div>

<app-difference></app-difference>
