/* img{
  width: 440px;
  height: 400px ;
  display:block;
  float: right;
  padding-top:20%;
 } */
 h2{
  font-size: xx-large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
 }
 h3{
  padding-top:15%;
 }
 p{
  font-size: xx-large;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color:rgb(83, 83, 146);
 }